# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Production build
dist/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Testing
coverage/

# Mac system files
.DS_Store

# Environment variables
.env
.env.local
.env.*.local

# Vite
*.local

# Yarn Integrity file
.yarn-integrity

# Parcel-bundler cache (if used)
.cache

# TypeScript
*.tsbuildinfo